h1{
  font-size: 200px;
  font-family:"Parisienne,cursive";
}
div {
  border: 1px solid black;
  background-color:#d5a2c6;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
#content{
    width:50px;
    margin:auto;
    padding-left:4em;
    color:white;
}
body{
   font-size:20px;
   font-family:"Parisienne,cursive";
   background-color: #d5a2c6;
}
p1{
  font-family:"Parisienne,cursive";
  font-size: 23px;
  color:#994d81;
}
h2{
  padding-left: 5em;
}
#header {
    background-color: white;
    width:100%;
    color:white;
    position: fixed;
    z-index: 100;
}
#footer{
   background-color:white;
   width:95%;
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
