.content {
  margin:auto;
  padding-left: 4em
}
h1{
  font-size: 400px;
  font-family:"Parisienne,cursive";
  padding-right:30px;
}
.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:30px;
   font-family: itc-american-typewriter, serif;
   font-style: normal;
   font-weight: 300;
   background-color: #d5a2c6;
   padding-right:20px
}
p{
  font-family:'Ubuntu', sans-serif;
  font-size: 40px;
  padding-left:4em;
  color:black;
}

h1{
  text-align: center;
}

h2{
  font-family: itc-american-typewriter,serif;
  font-size: 60px;
  font-weight:400;
}

h4{
  font-size: 60px;
  padding-left: 4em
  text-align:center;
}



#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
