h1{
  font-size: 200px;
  font-family:"Parisienne,cursive";
  color:black
}
h2{
  font font-family:"Parisienne,cursive";
  font-size:40px;
}
p0{
  font-size:20px;
}
div {
  border: 1px solid black;
  background-color:#d5a2c6;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
h4{
  font-size: 55px;
}
#content{
    width:0px;
    margin:auto;
    color:#d5a2c6;
}
body{
   font-size:20px;
   font-family:"Parisienne,cursive";
   background-color: #d5a2c6;
}
p{
  font-family:"Big Shoulders Intline text,cursive";
  font-size: 23px;
  color:black;
}

#header {
    background-color: white;
    width:100%;
    color:white;
    position: fixed;
    z-index: 100;
}
#footer{
   background-color:white;
   margin:auto;
   padding: 0px;
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
   padding-top: 5px;
}
a:hoover {
     color:purple;
}
