h1{
  font-size: 300px;
  font-family:"Parisienne,cursive";
}

.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:20px;
   font-family:'Ubuntu', sans-serif;
   background-color: #d5a2c6;
   padding-right:20px
}
p{
  font-family:'Ubuntu', sans-serif;
  font-size: 10px
  padding-left:4em
  color:white;
}
h2{
  padding-left: 5em
  font-size:35px
}
h4{
  font-size: 40px;
  padding-left:3em
}
#header {
    background-color: red;
    width:100%
    color:red;
    position: fixed;
    z-index: 100;
  }
.content {
  margin:auto;
  padding-left: 4em
}
#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
