.content {
  margin:auto;
  padding-left: 4em
}
h1{
  font-size: 400px;
  font-family:"Parisienne,cursive";
  padding-right:30px;
}
.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:30px;
   font-family: itc-american-typewriter, serif;
   font-style: normal;
   font-weight: 300;
   background-color: #d5a2c6;
   padding-right:20px
}
p{
  font-family:'Ubuntu', sans-serif;
  font-size: 70px
  padding-left:4em;
  color:black;
}
h1{
  text-align: center;
}
p{
  font-size: 35px;
}
h2{
  padding-left: 5em
  font-weight:400;
  text-align:center;
}
h4{
  font-size: 50px;
  padding-left: 4em
}
#header {
    background-color: red;
    width:100%
    color:red;
    position: fixed;
    z-index: 100;
  }
.content {
  margin:auto;
  padding-left: 4em
}
#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
