.content {
  margin:auto;
  padding-left: 4em
}
h1{
  font-size: 400px;
  font-family:"Parisienne,cursive";

}
.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:25px;
   font-family: itc-american-typewriter, serif;
   font-style: normal;
   font-weight: 300;
   background-color: #d5a2c6;
   
}
p{
  font-family:'Ubuntu', sans-serif;
  font-size: 40px;
  padding-left:4em;
  color:black;
}



h2{
  font-family: itc-american-typewriter,serif;
  font-size: 35px;

}
h3{
  font-size: 35px;
}
h4{
  font-size: 50px;
  padding-left: 4em;
  text-align: center;
}



#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
