
.content {
  margin:auto;
  padding-left: 4em
}
h1{
  font-size: 400px;
  font-family:"Parisienne,cursive";

}
.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:35px;
   font-family:"Poppins",sans-serif;
   font-style: normal;
   font-weight: 300;
   background-color: #d5a2c6;


}
p{
  font-family:"Poppins", sans-serif;
  font-size: 30px;
  padding-left:4em;
  color:black;
}


h2{
  font-family:"Poppins", sans-serif;
  font-size: 40px;
  border-top-left-radius: 4px solid white;

}
h3{
  font-size: 40px;
  border-bottom-right:4px solid white;
}

h4{
  font-family:"Poppins",serif;
  font-size: 50px;
  text-align: center;
  border-top: 4px solid blue;
}


#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}

<br>
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
</br>

<br>

</br>
a:hoover {
     color:purple;
     padding:30px;
}
