
.content {
  margin:auto;
  padding-left: 4em
}
h1{
  font-size: 400px;
  font-family:"Parisienne,cursive";

}
.content {
  margin:auto;
  padding-left: 4em
}

body{
   font-size:35px;
   font-family:"Archivo Black", sans-serif;
   font-style: normal;
   font-weight: 300;
   background-color: #d5a2c6;


}
p{
  font-family:"Archivo Black", sans-serif;
  font-size: 30px;
  padding-left:4em;
  color:black;
}



h2{
  font-family:"Archivo Black", sans-serif;
  font-size: 35px;
}
h3{
  font-size: 35px;
}



#footer {
   background-color: white;
   width:auto;95%
   color:purple;
}
a:link {
   text-decoration: none;
   border-bottom: 1px;
}
a:hoover {
     color:purple;
}
